.reveal section img { background:none; border:none; box-shadow:none; }

.cover-page .slide-background-content {
    height: 100%!important ; top:0!important;
    background-size: cover!important;

}

section.backgroundImage{
    width: 100%!important;
    height: 100%!important;
    padding: 0px!important;
}

.opacic{
    opacity: 0.25;
}
 
ul li{
    margin-bottom: 16px!important;
}
  
.flower{
    text-align: left;
    padding-left: 24px;
}
h1,h2{
    line-height: 1.5!important;
}

code .hljs-ln-line.hljs-ln-n
{
    display: none!important;

}
code{
    font-size: 30px!important;
    line-height: 1.2!important;
    max-height: 500px!important;
}
.poc{
    border: 1px solid;
    margin-left: 350px;
    margin-right: 350px;
}
.slides{
    /* transform: none!important;
    top:0!important;
    left: 0!important;
    position: relative!important;
    width: 100%!important;
    height: 100%!important; */
}

.reveal .hljs-ln-numbers{
    padding-right: 0px;
}