html, body, #root, .container-fluid, .full-height {
    height: 100%;
}

.full-height {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .navPad {
        padding-top: 50px;
    }
}
@media (min-width: 768px) {
    .front-image-container {
        margin-left: -20px;
    }
}

.game {
    min-height: 100vh;
}

.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

blockquote { /* bootstrap override */
    font-size: inherit;
    border-left: inherit;
}
